In [1]:
# Dependencies
import requests
import xml.etree.ElementTree as ET # to parse XML
import csv
from config import API_KEY

import numpy as np
import pandas as pd

# API source : GreatSchools
https://www.greatschools.org/api/docs/technical-overview/
response is returned in XML format.

* XML format explanation : https://www.w3schools.com/xml/xml_tree.asp
* cf. parsing example : https://www.datacamp.com/community/tutorials/python-xml-elementtree

## School Census data 'CA'
Retrieving data from <b>School Census Data</b> API.

Sample Request
* https://api.greatschools.org/school/census/ND/20?key=[yourkey]
Returns census and profile data for school in North Dakota with GreatSchools ID of 20

In [3]:
# read gsID_CA.csv to retrieve all gsIds of CA for making API calls
gsID_CA = pd.read_csv("gsID_CA.csv", header=None)
print(gsID_CA.head())
gsIDs=gsID_CA[0].tolist()
print(len(gsIDs))
gsIDs[0:10]

   0
0  1
1  2
2  4
3  5
4  6
15762

[1, 2, 4, 5, 6, 7, 8, 9, 10, 12]

### 0-49th

In [5]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[0:50]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)


# print(df.columns)
# print(f'data length:{len(df)}')
# print(df.dtypes)
# df.head()

In [9]:
del df['address']
del df['latitude']
del df['longitude']
del df['district']
del df['enrollment']
del df['ethnicities']
del df['phone']
del df['schoolName']
del df['type']
del df['headOfficialEmail']
del df['headOfficialName']

In [11]:
df.to_csv('CAcensus_0_49th.csv',index=False)

### gsIDs[50:100] : 50-99th

In [16]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[50:100]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)
    
print(df.columns)
print(f'data length:{len(df)}')
print(df.dtypes)
df.head()

Index(['Asian', 'Black, non-Hispanic', 'Hispanic', 'Multiracial',
       'Native American or Native Alaskan',
       'Native Hawaiian or Other Pacific Islander', 'White, non-Hispanic',
       'actSatNumberParticipation', 'address', 'district', 'enrollment',
       'ethnicities', 'freeAndReducedPriceLunch', 'gsID', 'headOfficialEmail',
       'headOfficialName', 'idea', 'latitude', 'longitude',
       'percentTeachersInFirstSecondYear', 'phone', 'plan504', 'schoolName',
       'type', 'apCourseParticipation', 'apCoursePassed'],
      dtype='object')
data length:50
Asian                                        float64
Black, non-Hispanic                          float64
Hispanic                                     float64
Multiracial                                  float64
Native American or Native Alaskan            float64
Native Hawaiian or Other Pacific Islander    float64
White, non-Hispanic                          float64
actSatNumberParticipation                     object
address                                       object
district                                      object
enrollment                                    object
ethnicities                                   object
freeAndReducedPriceLunch                      object
gsID                                         float64
headOfficialEmail                             object
headOfficialName                              object
idea                                          object
latitude                                      object
longitude                                     object
percentTeachersInFirstSecondYear              object
phone                                         object
plan504                                       object
schoolName                                    object
type                                          object
apCourseParticipation                         object
apCoursePassed                                object
dtype: object

,Asian,"Black, non-Hispanic",Hispanic,Multiracial,Native American or Native Alaskan,Native Hawaiian or Other Pacific Islander,"White, non-Hispanic",actSatNumberParticipation,address,district,...,idea,latitude,longitude,percentTeachersInFirstSecondYear,phone,plan504,schoolName,type,apCourseParticipation,apCoursePassed
0,12.50,25.00,32.14,3.57,0.00,0.00,26.79,2,"6901 York Drive, Dublin, CA 94568",Dublin Unified School District,...,19.5,37.709167,-121.92118,0,(925) 829-4322,14.9,Valley High (Continuation) School,public,NaN,NaN
1,22.11,7.22,20.16,9.28,0.11,0.11,41.01,2,"6800 Penn Drive, Dublin, CA 94568",Dublin Unified School District,...,9.8,37.712563,-121.9188,0,(925) 828-6227,3.6,Wells Middle School,public,NaN,NaN
2,12.64,60.34,17.82,1.72,0.00,1.15,6.32,0,"1100 47th Street, Oakland, CA 94608",Emery Unified School District,...,9.6,37.835667,-122.28124,13.5,(510) 601-4998,1.5,Emery Secondary School,public,8.6,3
3,11.64,50.76,20.99,1.72,0.00,0.76,14.12,0,"1125 53rd Street, Emeryville, CA 94608",Emery Unified School District,...,8.4,37.836796,-122.284,0,(510) 601-4916,0.9,Anna Yates Elementary School,public,8.6,3
4,65.36,4.68,10.89,2.20,0.33,0.76,15.77,443,"36300 Fremont Boulevard, Fremont, CA 94536",Fremont Unified School District,...,6.7,37.563644,-122.01747,4.9,(510) 796-1776,1.3,American High School,public,46.3,1147

In [17]:
del df['address']
del df['latitude']
del df['longitude']
del df['district']
del df['enrollment']
del df['ethnicities']
del df['phone']
del df['schoolName']
del df['type']
del df['headOfficialEmail']
del df['headOfficialName']

In [18]:
df.to_csv('CAcensus_50_99th.csv',index=False)

### gsIDs[100:200] : 100-199th

In [19]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[100:200]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)
    
print(df.columns)
print(f'data length:{len(df)}')
print(df.dtypes)
df.head()

Index(['Asian', 'Black, non-Hispanic', 'Hispanic', 'Multiracial',
       'Native American or Native Alaskan',
       'Native Hawaiian or Other Pacific Islander', 'White, non-Hispanic',
       'address', 'district', 'enrollment', 'ethnicities',
       'freeAndReducedPriceLunch', 'gsID', 'headOfficialName', 'idea',
       'latitude', 'longitude', 'percentTeachersInFirstSecondYear', 'phone',
       'plan504', 'schoolName', 'type', 'headOfficialEmail',
       'actSatNumberParticipation', 'apCourseParticipation', 'apCoursePassed'],
      dtype='object')
data length:100
Asian                                        float64
Black, non-Hispanic                          float64
Hispanic                                     float64
Multiracial                                  float64
Native American or Native Alaskan            float64
Native Hawaiian or Other Pacific Islander    float64
White, non-Hispanic                          float64
address                                       object
district                                      object
enrollment                                    object
ethnicities                                   object
freeAndReducedPriceLunch                      object
gsID                                         float64
headOfficialName                              object
idea                                          object
latitude                                      object
longitude                                     object
percentTeachersInFirstSecondYear              object
phone                                         object
plan504                                       object
schoolName                                    object
type                                          object
headOfficialEmail                             object
actSatNumberParticipation                     object
apCourseParticipation                         object
apCoursePassed                                object
dtype: object

,Asian,"Black, non-Hispanic",Hispanic,Multiracial,Native American or Native Alaskan,Native Hawaiian or Other Pacific Islander,"White, non-Hispanic",address,district,enrollment,...,longitude,percentTeachersInFirstSecondYear,phone,plan504,schoolName,type,headOfficialEmail,actSatNumberParticipation,apCourseParticipation,apCoursePassed
0,9.37,18.09,51.70,6.30,0.00,3.88,10.66,"2424 East Avenue, Hayward, CA 94541",Hayward Unified School District,695,...,-122.0543,15,(510) 723-3815,0.8,East Avenue Elementary School,public,NaN,NaN,NaN,NaN
1,38.29,11.61,39.51,4.07,0.20,4.28,2.04,"27790 Portsmouth Avenue, Hayward, CA 94545",Hayward Unified School District,491,...,-122.10008,3.9,(510) 723-3855,0.4,Lorin A. Eden Elementary School,public,kwatts@husd.k12.ca.us,NaN,NaN,NaN
2,23.32,9.72,50.35,8.66,0.18,4.06,3.71,"2184 Thayer Avenue, Hayward, CA 94545",Hayward Unified School District,566,...,-122.10721,0,(510) 723-3820,0.3,Eden Gardens Elementary School,public,jflores@husd.k12.ca.us,NaN,NaN,NaN
3,14.73,7.69,68.13,2.42,0.44,3.96,2.64,"26825 Eldridge Avenue, Hayward, CA 94544",Hayward Unified School District,455,...,-122.0853,0.9,(510) 723-3825,0.3,Eldridge Elementary School,public,epin@husd.k12.ca.us,NaN,NaN,NaN
4,8.66,23.14,53.89,6.18,0.53,2.12,5.48,"23515 Maud Avenue, Hayward, CA 94541",Hayward Unified School District,566,...,-122.05205,2,(510) 723-3830,0.8,Fairview Elementary School,public,jmelvin@husd.k12.ca.us,NaN,NaN,NaN

In [20]:
del df['address']
del df['latitude']
del df['longitude']
del df['district']
del df['enrollment']
del df['ethnicities']
del df['phone']
del df['schoolName']
del df['type']
del df['headOfficialEmail']
del df['headOfficialName']

In [21]:
df.to_csv('CAcensus_100_199th.csv',index=False)

### gsIDs[200:1000] : 200-999th

In [22]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[200:1000]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)
    
print(df.columns)
print(f'data length:{len(df)}')
print(df.dtypes)
df.head()

Index(['Asian', 'Black, non-Hispanic', 'Hispanic', 'Multiracial',
       'Native American or Native Alaskan',
       'Native Hawaiian or Other Pacific Islander', 'White, non-Hispanic',
       'address', 'district', 'enrollment', 'ethnicities',
       'freeAndReducedPriceLunch', 'gsID', 'headOfficialEmail',
       'headOfficialName', 'idea', 'latitude', 'longitude',
       'percentTeachersInFirstSecondYear', 'phone', 'plan504', 'schoolName',
       'type', 'actSatNumberParticipation', 'apCourseParticipation',
       'apCoursePassed'],
      dtype='object')
data length:800
Asian                                        float64
Black, non-Hispanic                          float64
Hispanic                                     float64
Multiracial                                  float64
Native American or Native Alaskan            float64
Native Hawaiian or Other Pacific Islander    float64
White, non-Hispanic                          float64
address                                       object
district                                      object
enrollment                                    object
ethnicities                                   object
freeAndReducedPriceLunch                      object
gsID                                         float64
headOfficialEmail                             object
headOfficialName                              object
idea                                          object
latitude                                      object
longitude                                     object
percentTeachersInFirstSecondYear              object
phone                                         object
plan504                                       object
schoolName                                    object
type                                          object
actSatNumberParticipation                     object
apCourseParticipation                         object
apCoursePassed                                object
dtype: object

,Asian,"Black, non-Hispanic",Hispanic,Multiracial,Native American or Native Alaskan,Native Hawaiian or Other Pacific Islander,"White, non-Hispanic",address,district,enrollment,...,latitude,longitude,percentTeachersInFirstSecondYear,phone,plan504,schoolName,type,actSatNumberParticipation,apCourseParticipation,apCoursePassed
0,1.29,66.34,22.65,2.59,0.65,4.53,1.94,"7929 Ney Avenue, Oakland, CA 94605",Oakland Unified School District,309,...,37.76564,-122.16559,0,(510) 879-1440,0,Parker Elementary School,public,NaN,NaN,NaN
1,3.44,15.63,11.25,12.50,0.00,0.31,56.88,"460 63rd Street, Oakland, CA 94609",Oakland Unified School District,320,...,37.848965,-122.25881,0,(510) 654-7365,0,Peralta Elementary School,public,NaN,NaN,NaN
2,6.02,55.87,20.92,9.17,0.57,0.00,7.45,"4314 Piedmont Avenue, Oakland, CA 94611",Oakland Unified School District,372,...,37.82907,-122.24879,6.2,(510) 654-7377,0,Piedmont Avenue Elementary School,public,NaN,NaN,NaN
3,3.86,58.37,30.90,3.86,0.43,0.00,2.58,"920 Campbell Street, Oakland, CA 94607",Oakland Unified School District,200,...,37.80847,-122.29806,0,(510) 874-3333,1.1,Preparatory Literary Academy Of Cultural Excel...,public,NaN,NaN,NaN
4,10.03,17.27,15.60,15.88,0.84,0.28,40.11,"4401 39th Avenue, Oakland, CA 94619",Oakland Unified School District,359,...,37.797077,-122.18626,0,(510) 531-6644,1.1,Redwood Heights Elementary School,public,NaN,NaN,NaN

In [23]:
del df['address']
del df['latitude']
del df['longitude']
del df['district']
del df['enrollment']
del df['ethnicities']
del df['phone']
del df['schoolName']
del df['type']
del df['headOfficialEmail']
del df['headOfficialName']

In [24]:
df.to_csv('CAcensus_200_999th.csv',index=False)

### 1000~1499th [1000:1500]

In [26]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[1000:1500]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)
    
print(df.columns)
print(f'data length:{len(df)}')
print(df.dtypes)
df.head()

Index(['Asian', 'Black, non-Hispanic', 'Hispanic', 'Multiracial',
       'Native American or Native Alaskan',
       'Native Hawaiian or Other Pacific Islander', 'White, non-Hispanic',
       'address', 'district', 'enrollment', 'ethnicities',
       'freeAndReducedPriceLunch', 'gsID', 'headOfficialEmail',
       'headOfficialName', 'latitude', 'longitude', 'phone', 'schoolName',
       'type', 'idea', 'percentTeachersInFirstSecondYear', 'plan504',
       'actSatNumberParticipation', 'apCourseParticipation', 'apCoursePassed'],
      dtype='object')
data length:500
Asian                                        float64
Black, non-Hispanic                          float64
Hispanic                                     float64
Multiracial                                  float64
Native American or Native Alaskan            float64
Native Hawaiian or Other Pacific Islander    float64
White, non-Hispanic                          float64
address                                       object
district                                      object
enrollment                                    object
ethnicities                                   object
freeAndReducedPriceLunch                      object
gsID                                         float64
headOfficialEmail                             object
headOfficialName                              object
latitude                                      object
longitude                                     object
phone                                         object
schoolName                                    object
type                                          object
idea                                          object
percentTeachersInFirstSecondYear              object
plan504                                       object
actSatNumberParticipation                     object
apCourseParticipation                         object
apCoursePassed                                object
dtype: object

,Asian,"Black, non-Hispanic",Hispanic,Multiracial,Native American or Native Alaskan,Native Hawaiian or Other Pacific Islander,"White, non-Hispanic",address,district,enrollment,...,longitude,phone,schoolName,type,idea,percentTeachersInFirstSecondYear,plan504,actSatNumberParticipation,apCourseParticipation,apCoursePassed
0,0.50,2.74,70.07,2.24,0.25,0.00,24.19,"511 West Malone Street, Hanford, CA 93230",Hanford Elementary School District,558,...,-119.65257,(559) 585-3700,Jefferson Charter Academy,charter,NaN,NaN,NaN,NaN,NaN,NaN
1,0.54,5.92,75.04,0.72,0.90,0.00,16.88,"1000 East Florinda Street, Hanford, CA 93232",Hanford Elementary School District,557,...,-119.62909,(559) 585-3850,John F. Kennedy Junior High School,public,13.6,7.4,1.8,NaN,NaN,NaN
2,3.35,3.67,84.03,1.12,0.00,0.16,7.67,"820 Hume Avenue, Hanford, CA 93230",Hanford Elementary School District,626,...,-119.4881,(559) 585-3715,Martin Luther King Jr. Elementary School,public,10.3,21.2,1.2,NaN,NaN,NaN
3,1.94,10.54,78.49,2.37,0.00,0.65,6.02,"832 South Harris Street, Hanford, CA 93230",Hanford Elementary School District,465,...,-119.64266,(559) 585-3730,Lincoln Elementary School,public,10.8,16.4,0.8,NaN,NaN,NaN
4,1.10,2.75,66.57,4.40,0.96,0.00,24.21,"300 Monroe Drive, Hanford, CA 93230",Hanford Elementary School District,727,...,-119.64984,(559) 585-3745,Monroe Elementary School,public,9.6,16.5,1.5,NaN,NaN,NaN

In [30]:
del df['address']
del df['latitude']
del df['longitude']
del df['district']
del df['enrollment']
del df['ethnicities']
del df['phone']
del df['schoolName']
del df['type']
del df['headOfficialEmail']
del df['headOfficialName']

In [28]:
df.to_csv('CAcensus_1000_1499th.csv',index=False)

### 1500~1999th [1500:2000]

In [29]:
df = pd.DataFrame()
schoolCensus={}

for gsID in gsIDs[1500:2000]:
    queryURL = f'https://api.greatschools.org/school/census/CA/{gsID}?key={API_KEY}'
    response = requests.get(queryURL)
    tree = ET.fromstring(response.content)

    for c in tree:
#         print(c.tag,c.text)
        schoolCensus['gsID'] = float(gsID)
        schoolCensus[str(c.tag)] = str(c.text)
        
    ethnicities=tree.find('ethnicities')
#     print(ethnicities.findall('ethnicity'))
    for ethnicity in ethnicities.findall('ethnicity'):
        name = ethnicity.find('name').text
        value = ethnicity.find('value').text
#         print(name,value)
        schoolCensus[name] = float(value)
    df = df.append(schoolCensus, ignore_index=True)
    
print(df.columns)
print(f'data length:{len(df)}')
print(df.dtypes)
df.head()

Index(['Asian', 'Black, non-Hispanic', 'Hispanic', 'Multiracial',
       'Native American or Native Alaskan',
       'Native Hawaiian or Other Pacific Islander', 'White, non-Hispanic',
       'address', 'district', 'enrollment', 'ethnicities',
       'freeAndReducedPriceLunch', 'gsID', 'idea', 'latitude', 'longitude',
       'percentTeachersInFirstSecondYear', 'phone', 'plan504', 'schoolName',
       'type', 'headOfficialEmail', 'headOfficialName',
       'actSatNumberParticipation', 'apCourseParticipation', 'apCoursePassed'],
      dtype='object')
data length:500
Asian                                        float64
Black, non-Hispanic                          float64
Hispanic                                     float64
Multiracial                                  float64
Native American or Native Alaskan            float64
Native Hawaiian or Other Pacific Islander    float64
White, non-Hispanic                          float64
address                                       object
district                                      object
enrollment                                    object
ethnicities                                   object
freeAndReducedPriceLunch                      object
gsID                                         float64
idea                                          object
latitude                                      object
longitude                                     object
percentTeachersInFirstSecondYear              object
phone                                         object
plan504                                       object
schoolName                                    object
type                                          object
headOfficialEmail                             object
headOfficialName                              object
actSatNumberParticipation                     object
apCourseParticipation                         object
apCoursePassed                                object
dtype: object

,Asian,"Black, non-Hispanic",Hispanic,Multiracial,Native American or Native Alaskan,Native Hawaiian or Other Pacific Islander,"White, non-Hispanic",address,district,enrollment,...,percentTeachersInFirstSecondYear,phone,plan504,schoolName,type,headOfficialEmail,headOfficialName,actSatNumberParticipation,apCourseParticipation,apCoursePassed
0,33.33,0.75,60.15,0.00,0.0,0.0,5.76,"5213 North Daleview Avenue, Temple City, CA ...",El Monte City School District,394,...,6.7,(626) 575-2327,0,Cleminson Elementary School,public,NaN,NaN,NaN,NaN,NaN
1,9.64,0.23,90.01,0.00,0.0,0.0,0.11,"3400 North California, El Monte, CA 91731",El Monte City School District,871,...,2,(626) 575-2306,0,Columbia Elementary School,public,gzamarripa@emcsd.org,Geoff Zamarripa,NaN,NaN,NaN
2,16.24,0.00,83.76,0.00,0.0,0.0,0.00,"3111 North Potrero Avenue, El Monte, CA 91733",El Monte City School District,425,...,0,(626) 575-2391,0.4,Cortada Elementary School,public,bruiz@emcsd.org,Brenda Ruiz,NaN,NaN,NaN
3,23.87,0.20,74.46,0.00,0.0,0.0,1.48,"12233 Star Street, El Monte, CA 91732",El Monte City School District,1014,...,0,(626) 443-3900,0.4,Durfee Elementary School,public,dmercado2@emcsd.org,Dianna Mercado,NaN,NaN,NaN
4,19.88,0.39,77.36,0.39,0.2,0.0,1.77,"10226 East Lower Azusa Road, El Monte, CA 91731",El Monte City School District,508,...,0,(626) 575-2323,0.3,Gidley Elementary School,public,jrichenbennger@emcsd.org,Joella Richenberger,NaN,NaN,NaN

In [31]:
df.to_csv('CAcensus_1500_1999th.csv',index=False)